<html>
    <title>Valid</title>
<style>
      .container{
	width:500px;
    height:400px;
    font-size: 20px;
    font-family: "Times New Roman";
    text-align:center;
	border-radius:4px;
	margin:0 auto;
    margin-top:150px;
 
	
}
   </style>
<body>
    <div class="container">
    
    <p><%= j1 %> </p>
    <p><%= j2 %> </p>
    <a href="http://localhost:8080/result">Result</a>
    </table>
    </div>
</body>
</html>